<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shariff.music">

    <!-- Permission to read music files -->
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO"/>

    <application
        android:allowBackup="true"
        android:label="Shariff Music"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <!-- Main Screen -->
        <activity android:name=".MainActivity" />

        <!-- Splash Screen (Launcher) -->
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
